.newslist_style1{
	width: 100%;
	display: table;
}
.newslist_style1 .item{
    display: table-cell;
    vertical-align: middle;
    background: none repeat scroll 0 0 #F7F7F7;
    border-bottom: 1px solid #DBDBDB;
}
.newslist_style1 .item:first-child{
	 border-bottom: none;
}
.newslist_style1 .item h2{
	margin: 0;
	background: none repeat scroll 0 0 #ed1b24;
    border-left: 2px solid #686868;
    border-radius: 8px 0 0 8px;
    padding: 8px 10px;
}
.newslist_style1 .arrow-right {
	width: 0; 
	height: 0; 
	border-top: 22px  solid #F7F7F7;
	border-bottom: 22px  solid #F7F7F7;
	border-left: 21px  solid #ed1b24;
	margin:0;
}
.newslist_style1 .item h2 span{
	color: #FFFFFF;
    font-family: MyriadPro-BoldCond;
    font-size: 18px;
    text-transform: uppercase;
}
.newslist_style1 .item h4{
    margin: 0;
    padding: 0 10px;
}
.newslist_style1 .item h4 span{
}
.newslist_style1 .iconbox {
    border:none;
    background: transparent;
    margin-right: 6px;
}
.newslist_style1 .iconbox i{
    color: #ed1b24;
}
.LineNgang {
    border-bottom: 1px solid #ed1b24;
    height: 44px;
    margin: 7px 0 1px 0;
	clear:both;
}
	.LineNgang p.bg_ic {
		background: #ed1b24 none repeat scroll 0 0;
		display: block;
		float: left;
		height: 44px;
		margin-right: 10px;
		text-align: center;
		min-width: 65px;
	}
	.LineNgang a.title_home_text {
		background: #fff none repeat scroll 0 0;
		color: #555;
		display: inline-block;
		font-size: 18px;
		font-weight: 300;
		line-height: 39px;
		text-transform: uppercase;
		white-space: nowrap;
	}