#owl-demo {
	margin-bottom: 10px;
	position: relative;
}
#owl-demo .item img {
	display: block;
	width: 100%;
}
#owl-demo h3{
	/*background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);*/
	background: none repeat scroll 0 0;
    bottom: 0;
    color: #fff;
    font-family: MyriadPro-Light;
    font-size: 18px;
    font-weight: bold;
    left: 0;
    margin: 0;
    padding: 8px 20px;
    position: absolute;
    width: 100%;
}
#owl-demo #bar {
	width: 0%;
	max-width: 100%;
	height: 4px;
	background: #7fc242;
}
#owl-demo #progressBar {
	width: 100%;
	background: #EDEDED;
	display: none;
}
.owl-pagination {
	text-align: right;
}
.owl-controls {
    margin-top: 0 !important;
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 6px 10px 6px ;
}
.owl-pagination .owl-page span {
	background: #869791 !important;
	border: 2px solid #869791;
	 opacity: 1 !important;
}
.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span {
   background: #ed1b24 !important;
   border: 2px solid #fff;
}
.owl-buttons{
	display: none;
	position: absolute;
}