.image_template {
    left: 33px;
    position: absolute;
    top: 3px;
    display:none;
}
#page {
    opacity: 06;
}
@font-face {
    font-family: "opensans";
    src: url("fonts/OpenSans-Regular.ttf");
}

body {
	color:#383838;
  font: 13px/1.5 arial,helvetica,clean,sans-serif;

}
 .container {
    max-width: 1160px;
  }

a {
    color: #252525;
}
a:hover {
    color: #ed1b24;
	text-decoration: none;
}
a:focus {
 outline: none;
}
h1  > *, h2 > *, h3 > *, h4  > *, h5 > *, h6 > *, .h1 *, .h2 > *, .h3 > *, .h4 > *, .h5 > *, .h6 > * {
    font-family: arial,helvetica,clean,sans-serif;
    font-weight: 500;
	font-size: 13px;
}
ul, ol {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.red,.label_error {
	color: red;
}
.label_success {
	font-weight: bold;
	color: #0000FF;
}
address,caption,cite,code,dfn,em,th,var,optgroup {
	font-style: inherit;
	font-weight: inherit;
}

del,ins {
	text-decoration: none;
}

li {
	list-style: none;
}
q:before,q:after {
	content: '';
}

abbr,acronym {
	border: 0;
	font-variant: normal;
}

sup {
	vertical-align: baseline;
}

sub {
	vertical-align: baseline;
}
figure {
  margin: 0;
}

input,button,textarea,select {
	border:1px solid #A9A9A9;	
}
.hidden,.hide,.hiden {
	display: none;
}
.clear:before, .clear:after {
    content: " ";
    display: table;
}
.clear:after {
    clear: both;
}
.pd0{
	padding: 0;
}
.mt10{
	margin-bottom:10px;
}
.mt20{
	margin-bottom:20px;
}
.mt30{
	margin-bottom:30px;
}
.mt40{
	margin-bottom:40px;
}
.block{
	margin-bottom:20px;
}
.description a{
	color: #ed1b24;
}
/* Top Header
-------------------------------------------------- */
/* Items */
#top-header{
    background: #F5F5F5;
    border-bottom: 1px solid #E8E8E8;
}
@media only screen and (max-width:900px){
	#top-header, #MenuBannerTop{
		display: none;
	}
	div.banner_home {
		float: none;
		width:100%;
	}
	
}
#top-header .row-table{
	display: table;
	width: 100%;
}
#top-header .col-table{
	display: table-cell;
	vertical-align: top;
}
@media only screen and (min-width:1200px){
	#top-header .col-left{
		width: 52%;
	}
	
	#top-header .col-right{
		width: 32%;
	}
}
#top-header i {
	background: none repeat scroll 0 0 #ed1b24;
    border-radius: 16px 16px 16px 16px;
    color: #FFFFFF;
    margin-right: 8px;
    padding: 4px 5px;
}
@media only screen and (max-width:1200px){
	#top-header strong{
		display: none;
	}
}
#top-header .th-text {
	padding: 10px 0;
	text-align: center;
}
#top-header .hotline  {
	color: #DADADA;
}
#top-header .th-text .th-item {
	margin: 0;
	padding: 0;
}
#top-header .th-text .th-item {
	display: inline-block;
	padding: 0 10px;
	line-height: 10px;
}
#top-header .th-text .th-item:first-child {
	padding-left: 0;
}
#top-header .hotline  strong{
	 color: #353D43;
    font-family: MyriadPro-Regular;
    font-size: 14px;
    text-transform: uppercase;
}
#top-header .hotline  span{
	color: #ed1b24;
	font-weight: bold;
	margin:0;
}
#top-header .slogan {
	width:200px;
}
#top-header .slogan  span{
  	 color: #505050;
    font-family: MyriadPro-BoldCond;
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
    text-transform: uppercase;
}

/* Header-main*/

#header-main{
	 height: 120px;
}
@media only screen and (max-width:900px){
	#header-main{
		display:none;
	}
}
#header-main .col-lg-l{
    width: 15%;
}
#header-main .col-lg-l > *{
	display:table-cell;
	vertical-align: middle;
	   height: 112px;
}
#header-main .col-lg-r{
        width: 85%;
}

/* end.Header-main*/

/* Nav-mainmenu*/

/* end.Nav-mainmenu*/


/* Language Dropdown */
#top-header .th-text .th-item .btn-group {
	z-index: 9999;
	margin-top: -6px;
}
#top-header .th-text .th-item .btn-group .btn-default {
	color: inherit;
	background-color: transparent;
	border: none;
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-ms-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
	text-transform: uppercase;
	font-size: 11px;
	background: none; /* FF3.6+ */
	filter: none; /* IE6-9 */
	-webkit-box-shadow: none;
	box-shadow: none;
	text-shadow: none;
	font-weight: normal;
}
#top-header .th-text .th-item .btn-group:hover {
	color: #fff;
}
#top-header .th-text .th-item .btn-group ul.dropdown-menu {
	font-size: 11px;
	background-color: #272727;
	padding: 0;
	line-height: 20px;
	border: none;
	border-radius: 0px;
	-webkit-box-shadow: none;
	box-shadow: none;
	margin-top: 12px;
}
#top-header .th-text .th-item .btn-group .btn-default span.caret {
	margin-left: 5px;
	margin-top: -4px;
}
#top-header .th-text .th-item .btn-group ul.dropdown-menu > li > a {
	padding: 10px 20px;
	color: #939393;
	text-transform: uppercase;
	-webkit-transition: all 0.1s ease-in;
	-moz-transition: all 0.1s ease-in;
	-ms-transition: all 0.1s ease-in;
	-o-transition: all 0.1s ease-in;
	transition: all 0.1s ease-in;
}
#top-header .th-text .th-item .btn-group ul.dropdown-menu > li > a:hover {
	color: #fff;
}

/* main menu */
#nav-mainmenu{
	background-color: #ed1b24;
}
@media only screen and (max-width:900px){
	#nav-mainmenu{
		display:none;
	}
	.index_header, .Banner2All{
		display:none;
	}
	#sb-site{	
		margin-top:0px;	
	}
}
/* Retina Logo */
#logo #retina-logo {
	display: none;
}
@media only screen and (min-width:768px){
	#loginModal .well {
	    width: 480px;
	    margin: 0 auto;
	}
}
#loginModal .well{
	border-radius: 0;
	background: #fff;
	padding: 0 20px;
}
#loginModal .nav-tabs > li > a {
    font-family: MyriadPro-Regular;
    font-size: 18px;
    padding: 10px 0;
    border: none;
    margin-right: 50px;
}
#loginModal .nav-tabs > li > a:hover {
    background: none;
    border-color: #fff;
    border: none;
}
#loginModal .nav-tabs > li.active > a, 
#loginModal .nav-tabs > li.active > a:hover,
#loginModal .nav-tabs > li.active > a:focus{
	border: none;
	border-bottom: 2px solid #ed1b24;
}
#loginModal .form-horizontal{
	padding-top: 10px
}
#loginModal .tab-content{
	padding: 20px 0;
}
#loginModal .controls{
    margin-bottom: 16px;
}
#loginModal .input-xlarge{
	border: 1px solid #d5d5d5;
    box-shadow: 0 1px 2px #eeeeee inset;
    color: #868686;
    padding: 4px 12px;
    width: 100%;
}
#loginModal  .btn-success,
#loginModal .btn-primary{
	background: none repeat scroll 0 0 #ed1b24;
    border: 1px solid #ed1b24;
    font-family: MyriadPro-Regular;
    font-size: 16px;
    text-transform: uppercase;
    width: 100%;
}
#loginModal  .social-login-btn {
    border-radius: 24px;
    font-size: 20px;
    height: 30px;
    margin: 5px;
    padding: 4px 0 0 2px;
    text-align: center;
    width: 30px
}
#loginModal .social-facebook {
    background-color: #4c699e;
    border-color: #47618d;
}
#loginModal  .social-google {
    background-color: #da573b;
    border-color: #be5238;
}
#loginModal .close{
	opacity: 1;
    top: 10px;
    position: relative;
}
 .product_tab_content em,
 .description em{
	  font-style: italic;
 }
 .product_tab_content li,
 .description li{
	 list-style: circle inside;
 }

/*============Footer========*/
.KhuVuc{
	margin:0 0 15px 0;
	padding:o;
	overflow:hidden;
	width:100%;
}
.KhuVucTitle{
	background:url(../images/ico-home-line.jpg) 0 8px no-repeat;
	width:100%;
	clear:both;
	display:block;
	padding:0 0 7px 15px;
	text-transform:uppercase;
}

.KhuVucAddress{
	background:url(../images/ico-home.jpg) 0 7px no-repeat;
	width:100%;
	clear:both;
	display:block;
	padding:0 0 0 35px;
	color:#000;
}
	.KhuVucAddress strong{
		color:#ed1b24;
	}
	
/****** MAIN POPUP BANNER ***********/
#modal_city .modal-dialog {
    max-width: 460px;
}
.modal-content {
    border: 1px solid #AAAAAA
    padding: 4px;
}
#modal_city .modal-header {
    background: url("../images/logo_1409905743.png") no-repeat scroll center center #ed1b24;
    border-radius: 3px;
    margin: 3px;
    padding: 20px;
    border-bottom: 2px solid #cccccc ;
     display: none;	
}
#modal_city .modal-body {
	border-bottom: 1px solid #aaa;
    margin-bottom: 20px;
    margin: 20px;
    padding: 0;
}
#modal_city  .welcome-city {
    color: #ed1b24;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
}

.pupzbutton {
    text-align: center;
}

.pupzbutton a.button {
    background: #ed1b24;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    height: 36px;
    margin: 0 0 10px;
    padding-bottom: 1px;
    text-decoration: none;
    transition: all 0.6s ease 0s;
    cursor: pointer;
    border-radius: 4px;
}

.pupzbutton a.button span {
    display: block;
    font-size: 18px;
    line-height: 36px;
    padding: 0 18px;
}
.puzinfo {
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
}
@media only screen and (max-width:600px){
	#chatFacebook{
		display:none;
	}
}