/*!CK:3106808251!*//*1445959072,*/

.sp_C-acP-7tdGF{background-image:url(/rsrc.php/v2/ym/r/d5vO0GrzTVa.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:65px;width:88px}.sp_C-acP-7tdGF.sx_5adb18{width:24px;height:24px;background-position:0 -66px}.sp_C-acP-7tdGF.sx_ea9b9b{background-position:0 0}

#bootloader_z8t5E { height: 42px; }
.bootloader_z8t5E { display:block !important; }